.el-header,.el-main,.el-footer{
    width: 1190px;
    margin: 0 auto;
    padding: 0;
    overflow: unset;
}

.el-header{
    background: #fff;
    color: #999;
    width: 100%;
    height: auto !important;
    font-size: 12px;
    box-shadow: 0 2px 27px 0 rgba(0,0,0,.1);
    .m-header{
        // width: 1190px;
        // margin: 0 auto;
        background: #f8f8f8;
    }
}

.layout-default{
    -webkit-font-smoothing: antialiased;
    font-family: "-apple-system",
    BlinkMacSystemFont,
    Roboto,
    "Helvetica Neue",
    "MIcrosoft YaHei",
    sans-serif !important;
    background-color: #F8F8F8;
}